POSTGRES_DB=current_DB
POSTGRES_USER=current_User
POSTGRES_PASSWORD=4D7w9f2Wa88Cw
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

DJANGO_SECRET_KEY='django-insecure-c@-j9r+*9wjmcr*f#(u0j=jb@5(4&l*jpt6+l)kjlhk7zkjx0)'

GOOGLE_REDIRECT_URIS=http://localhost:8000/oauth2callback/
GOOGLE_CLIENT_ID = 'tu-client-id-de-google'
GOOGLE_CLIENT_SECRET= 'tu-client-secret-de-google'
GOOGLE_PROJECT_ID = 'tu-project-id-de-google'

DEBUG=True