[run]
source = .

omit =
    manage.py
    */asgi.py
    */wsgi.py
    
    */migrations/*
    
    */tests/*
    */tests.py
    */test_*.py
    
    *venv*
    *.venv*
    */consumers.py
    */middleware.py
    */routing.py
    main/management/commands/*
    utils/security.py



[report]
exclude_lines =
    pragma: no cover
    
    def __str__
    def __repr__
    
    if __name__ == .__main__.: